.Menu {
    position: fixed;
    display: grid;
    place-items: center;
    width: 80%;
    height: 80%;
    left: 0;
    top: 0;
    z-index: 1;
    background: #327172;
    opacity: rgba(52, 52, 52, 0.3);
    transform: translate(-100%);
    transition: all .45s;
    font-family: cursive;
}

.Menu.open {
    transform: translate(0);
}

.Menu > .btn-close {
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
    color: #ffffff;
}

.Menu > .Menu-items {
    display: grid;
    place-items: center;
    grid-gap: 10px;
}

.Menu > .Menu-items > a {
    color: #ffffff;
    font-size: 32px;
    text-decoration: none;
    position: relative;
}


.Menu > .Menu-items > a::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffffff;
    transform: scaleX(0);
    transition: all .45s;
}


.Menu > .Menu-items > a:hover::after {
    transform: scaleX(1);
}

.Menu.open .Menu-items > a:nth-child(1) {
    animation: animate ease-in-out;
    animation-duration: 0.7s;
}

.Menu.open .Menu-items > a:nth-child(2) {
    animation: animate ease-in-out;
    animation-duration: 0.85s;
}

.Menu.open .Menu-items > a:nth-child(3) {
    animation: animate ease-in-out;
    animation-duration: 1s;
}

.Menu.open .Menu-items > a:nth-child(4) {
    animation: animate ease-in-out;
    animation-duration: 1.15s;
}

.Menu.open .Menu-items > a:nth-child(5) {
    animation: animate ease-in-out;
    animation-duration: 1.3s;
}



@keyframes animate {
    0% {
        opacity: 0;
        transform:  translateY(90px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}